@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
html,body {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1170px;
  margin: auto;
}

/* titles */

.main-title {
  margin: 45px 0;

  font-family: Rubik, Arial, sans-serif;
  font-weight: 700;
  font-size: 60px;
  font-kerning: normal;
}

.title {
  font-family: Rubic, Arial, sans-serif;
  font-weight: 700;
  font-size: 36px;

  width: 100%;
}

.title-white {
  color: #ffffff;
}

.title-color {
  color: #082362;
}

.button-learn-more {
  font-family: Rubik, Arial, sans-serif;
  font-size: 17px;
  font-weight: 500;

  color: white;
  background-color: #0c245d;

  margin: 0;

  padding: 10px 20px;

  transition: color,background 0.5s;
}

.button-learn-more:hover {
  color: #0c245d;
  background-color: #36BFA9;
}

/* header */

.header {
  background-color: white;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation-links {
  display: flex;
}

.navigation-link {
  padding: 35px 10px;

  transition: background 0.5s;
}

.navigation-link a {
  font-family: Rubik, Arial, sans-serif;
  font-weight: 500;
  font-size: 15px;
  font-kerning: normal;
  text-transform: uppercase;

  color: #242a5a;
  background-color: #ffffff;

  transition: background 0.5s;
}

.navigation-link:hover a {
  color: #ffffff;
  background-color: #242a5a;
}

.navigation-link:hover {
  background-color: #242a5a;

  cursor: pointer;
}

/* introduction */

.introduction {
  background-image: url('../img/headerbackground.png');
  /* background-color: #082362; */
  background-repeat: no-repeat;
  background-position: top center;
}

.greeting {
  display: flex;

  margin-top: 145px;
}

.contact_us {
  margin-left: auto;

  width: 788px;
  height: 76px;

  background: url(../img/contactbar.png);
  background-repeat: no-repeat;
}

.contacts {
  height: inherit;

  display: flex;
  align-items: center;
  justify-content: center;
}

.contacts li {
  padding: 0 15px;
}

.contacts span,
.contacts a {
  font-family: Rubik, Arial, sans-serif;
  font-weight: 400;
  font-size: 15px;

  color: #131f4f;
}

.contacts a:hover {
  text-decoration: underline;
}

.introduction-image {
  display: block;

  width: 470px;
}

.introduction-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.performance {
  padding-left: 114px;
  color: white;
}

.performance p {
  line-height: 25px;
  font-family: Rubik, Arial, sans-serif;
  font-weight: 400;
  font-size: 15px;

  padding-bottom: 50px;
}

.performance a {
  font-family: Rubik, Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;

  color: white;

  border-radius: 10px;
  border: 2px solid white;

  padding: 10px 35px;
  margin-left: 20px;

  transition: background 0.5s;
}

.performance a:first-of-type {
  margin-left: 10px;
}

.performance a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.sponsors-links {
  height: 123px;

  display: flex;
  align-items: center;
  justify-content: space-around;

  background-color: white;

  padding: 0;

}

.sponsors-links li {
  max-width: 175px;
  width: 100%;
  height: 123px;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: background 0.5s;

  box-shadow: inset 0 -5px #858da9;
}

.sponsors-links li:hover {
  box-shadow: inset 0 -5px #082362;

  background-color: rgba(31,144,224,0.3);
}

/* about_business */

.about_business {
  display: grid;
  grid-template-columns: repeat(12,1fr);
  align-items: center;

  padding: 120px 0;
}

.our_uniqueness {
  grid-column: 1/6;

  width: 100%;
  height: auto;
}

.our_uniqueness h2:first-child {
  padding-top: 30px;
}

.our_uniqueness h3 {
  font-family: Rubik, Arial, sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.our_uniqueness p {
  line-height: 26px;
  font-family: Rubik, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.our_uniqueness p,
.our_uniqueness h3 {
  color: #707070;
}

.our_awards {
  padding-top: 25px;
}

.our_awards tr:first-child {
  font-family: Rubik, Arial, sans-serif;
  font-weight: bold;
  font-size: 24px;

  color: #082362;

  text-align: center;
}

.our_awards tr:last-child {
  font-family: Rubik, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;

  color: #6e6e6e;

  text-align: left;
}

.our_awards_cell:not(:first-child) {
  padding-left: 90px;
}

.connect_form {
  grid-column: 7/12;

  width: 100%;
  min-height: 450px;

  display: flex;
  flex-direction: column;

  background-color: #082362;

  padding: 0 30px;
}

.connect_form input {
  width: 100%;
  height: 50px;

  margin-bottom: 20px;

  box-sizing: border-box;
}

.connect_form textarea {
  resize: none;

  height: 130px;
}

.connect_form input,
.connect_form textarea {
  padding: 5px 0 5px 25px;
}

.connect_form button {
  margin: 35px 0;

  width: 180px;
  height: 57px;

  font-family: Rubik, Arial, sans-serif;
  font-weight: 500;
  font-size: 17px;

  color: #082362;
  background-color: #ffffff;

  cursor: pointer;

  transition: background 0.5s;
}

.connect_form button:hover {
  background-color: #36BFA9;
}

.connect_form button:active {
  color: #ffffff;
  background-color: #082362;
  cursor: progress;
}

/* how do we work */

.how_we_work {
  max-width: 1920px;

  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(12,1fr);

}

.our_advantage {
  background-image: url('../img/howdoworkbackground.png');
  background-repeat: no-repeat;
  background-color: #082362;

  grid-column: 1/7;

  display: flex;
  justify-content: flex-end;
}

.list_of_benefits {
  width: 500px;
}

.work-criteria {
  width: 100%;
  height: 100%;
}

.list_of_benefits h2 {
  margin: 65px 0;
}

.list_of_benefits ul {
  font-family: Rubik, Arial, sans-serif;
  color: white;
}

.list_of_benefits h3 {
  font-weight: 500;
  font-size: 18px;
}

.list_of_benefits p {
  font-weight: 400;
  font-size: 14px;
}

.list_of_benefits li {
  position: relative;

  margin-bottom: 50px;
  padding-left: 80px;
}

.performance-criterion::before {
  content: "";
  display: block;
  width: 46px;
  height: 46px;

  position: absolute;
  left: 0;
  top: 5px;
}

.data-collection {
  background-image: url('../img/task_complete1.png');
  background-repeat: no-repeat;
}

.data-analysis {
  background-image:  url('../img/task_complete2.png');
  background-repeat: no-repeat;
}

.the-best-solution {
  background-image: url('../img/task_complete3.png');
  background-repeat: no-repeat;
}

.video_how_we_work {
  grid-column: 7/13;
}

.video_how_we_work img{
  width: 100%;
  height: 100%
}

/* services */

.our_services {
  background-image: url('../img/services_background.png');
  background-color: #f5f5f5;
  background-position: right bottom;
  background-repeat: no-repeat;

  padding: 130px 0 95px 0;
}

.services {
  position: relative;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.services-header {
  display: grid;
  grid-template-columns: repeat(12,1fr);
  align-items: center;
}

.services-header-text {
  width: 100%;

  grid-column: 5/13;

  padding-left: 10px;
}

.services-header h2 {
  width: 320px;

  grid-column: 1/5;
}

.services-header p::before {
  position: absolute;
  top: -5px;
  left: -25px;

  content: url(../img/blue-separator.svg);
}

.services-header p{
  line-height: 24px;

  position: relative;
}

.service {
  width: 280px;

  padding: 30px 40px;
  margin: 0 30px 30px 0;

  background-color: #ffffff;

  transition-duration: 0.3s;
  transition-property: background-color, color;
}

.service:not(:nth-child(3n+3)) {
  margin-right: 0;
}

.service h3,
.service p {
  font-family: Rubik, Arial, sans-serif;
}

.service p,
.services-header p {
  font-weight: 400;
  font-size: 14px;

  color: #6b6b6b;
}

.service-title {
  position: relative;

  font-weight: 500;
  font-size: 18px;

  color: #111c39;

  padding-left: 40px;
}

.service-title::before {
  position: absolute;
  left: 0;
  top: 2px;

  content: "";

  display: block;

  width: 24px;
  height: 24px;
}

.service-title--consulting {
  background-image: url("../img/service1.svg");
  background-repeat: no-repeat;
}

.service:hover .service-title--consulting {
  background-image: url("../img/service1-hover.svg");
  background-repeat: no-repeat;
}

.service-title--audit {
  background-image: url("../img/service2.png");
  background-repeat: no-repeat;
}

.service-title--business {
  background-image: url("../img/service3.svg");
  background-repeat: no-repeat;
}

.service:hover .service-title--business {
  background-image: url("../img/service3-hover.svg");
  background-repeat: no-repeat;
}

.service-title--training {
  background-image: url("../img/service4.png");
  background-repeat: no-repeat;
}

.service-title--planning {
  background-image: url("../img/service5.svg");
  background-repeat: no-repeat;
}

.service:hover .service-title--planning {
  background-image: url("../img/service5-hover.svg");
  background-repeat: no-repeat;
}

.service-title--analysis {
  background-image: url("../img/service6.svg");
  background-repeat: no-repeat;
}

.service:hover .service-title--analysis {
  background-image: url("../img/service6-hover.svg");
  background-repeat: no-repeat;
}

.service:hover {
  background-color: #082362;
}

.service:hover h3 {
  color: white;
}

.service:hover p {
  color: #c4c4c4;
}

/* achievements */

.achievements {
  background-image: url('../img/achievementsbackground.png');
  background-position: center;
  background-color: #082362;
  background-repeat: no-repeat;

  padding: 65px 0;
}

.achievements_table {
  border-collapse: collapse;

  font-family: Rubik, Arial, sans-serif;

  color: white;
}

.achievements_table tr td,
.achievements_table td th{
  width: 290px;
}

.achievements_table tr td:not(:last-child),
.achievements_table tr th:not(:last-child) {
  /* padding-right: 30px; */
}

.achievements_table tr:first-child {
  font-weight: bold;
  font-size: 48px;

  text-align: left;
}

.achievements_table tr:first-child td,
.achievements_table tr:nth-child(2) th {
  padding-bottom: 30px;
}

.achievements_table tr:nth-child(2) {
  font-weight: 500;
  font-size: 20px;

  color: #b4b4b4;

  text-align: left;
}

.achievements_table tr:last-child {
  font-weight: 400;
  font-size: 15px;

  color: white;
}

/* our team */

.team {
  font-family: Rubik, Arial, sans-serif;
}

.team-columns {
  padding: 80px 0 70px;

  display: grid;
  grid-template: "aboutteam aboutteam aboutteam aboutteam staff staff staff staff staff staff staff staff" 1fr / 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 20px;
  align-items:flex-start;

  width: 100%;
}

.about-team {
  grid-area: aboutteam;
}

.about-team h2 {
  margin: 60px 0 40px;
}

.about-team p {
  line-height: 24px;
  font-weight: 400;
  font-size: 14px;

  color: #6b6b6b;

  margin-bottom: 40px;
}

.staff-supply {
  position: relative;

  grid-area: staff;
}

.staff-list img {
  width: 100%;
  height: auto;
}

.staff-list {
  display: flex;
  justify-content: space-between;
}

.employee {
  position: relative;

  transform: scale(0.9);
  transition: transform 1s;
}

.employee:hover {
  transform: scale(1);
}

.employee-info {
  position: absolute;
  bottom: 35px;

  width: 100%;
  max-width: 235px;
}

.employee-info h3 {
  color: white;
}

.employee-info p {
  color: #c4c4c4;
}

.employee-info h3,
.employee-info p {
  margin: 0;
  padding: 10px 20px;

  text-align: center;

  background-color: rgba(8, 35, 98, 0.5);
}

/* latest news */

.news {
  font-family: Rubik, Arial, sans-serif;

  background-color: #082362;
  background-image: url('../img/newsbackground.png');
  background-position: right;
  background-repeat: no-repeat;
}

.news-header {
  padding-top: 40px;

  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-column-gap: 20px;
  align-items: center;
}

.news-header-text {
  grid-column: 4/11;

  width: 100%;
}

.news-header h2 {
  width: 100%;

  grid-column: 1 / 4;
}

.news-header p::before {
  position: absolute;
  top: -5px;
  left: -30px;

  content: url(../img/white-separator.svg);
}

.news-header p {
  position: relative;

  font-weight: 400;
  font-size: 14px;

  color: #c1c1c1;
}

.newsboard {
  position: relative;
  top: 70px;

  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-column-gap: 20px;
}

.newscard {
  background-color: white;
  height: 100%;
}

.newscard:first-child {
  grid-column: 1/5;
}

.newscard:nth-child(2) {
  grid-column: 5/9;
}

.newscard:last-child {
  grid-column: 9/13;
}

.newscard img {
  width: 100%;
}

.newscard h3 {
  font-weight: 500;
  font-size: 22px;

  color: #1d253b;

  padding-left: 40px;
}

.newscard h3:hover {
  text-decoration: underline;
}

.newscard p {
  font-weight: 400;
  font-size: 16px;

  padding: 30px 40px 50px;
  margin: 0;
}

.news-to-learn-more {
  height: 150px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 14px;

  background-color: #f5f5f5;
}

.news-to-learn-more .button-learn-more{
  position: relative;
  top: 35px;
}

/* happy moments */

.happy-moments {
  padding: 70px 0 130px;
}

.happy-moments-header {
  display: grid;
  grid-template-columns: repeat(12,1fr);
  align-items: center;
}

.happy-moments-header h2 {
  grid-column: 1/5;
}

.happy-to-learn-more {
  grid-column: 5/13;
  display: flex;
  justify-content: space-between;
}

.happy-moments-header p {
  font-family: Rubik, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;

  color: #6b6b6b;
}

.grayimage {
  filter: grayscale(100%);
}

.happymomentsimages {
  display: grid;
  grid-template: "img1 img1 img1 img1 img1 img2 img2 img2 img3 img3 img3 img3"
  "img1 img1 img1 img1 img1 img2 img2 img2 img6 img6 img6 img6"
  "img4 img4 img4 img4 img5 img5 img5 img5 img6 img6 img6 img6";
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.happymomentsimage {
  width: 100%;
  height: auto;

  transition: filter 0.5s;
}

.happymomentsimage:first-child {
  grid-area: img1;
}

.happymomentsimage:nth-child(2) {
  grid-area: img2;
}

.happymomentsimage:nth-child(3) {
  grid-area: img3;
}

.happymomentsimage:nth-child(4) {
  grid-area: img4;
}

.happymomentsimage:nth-child(5) {
  grid-area: img5;
}

.happymomentsimage:last-child {
  grid-area: img6;
}

.filter-list {
  display: flex;
  justify-content: flex-end;

  padding: 40px 0;

  font-family: Rubik, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;

  color: #6b6b6b;

  transition: transform 1s;
}

.filter-list li {
  padding-left: 30px;
}

.filter-list li:hover {
  text-decoration: underline;
}

.filter:hover {
  cursor: pointer;
}

.filter-active {
  color: #0c245d;
}

/* footer */

.footer-navigation-background {
  background-color: #082360;
}

.footer-navigation-columns {
  display: grid;
  grid-template: "peridona peridona peridona peridona resourses resourses links links subscription subscription subscription subscription" 1fr / 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 20px;

  padding: 80px 0 70px;
}

.footer-navigation-column {
  width: 100%;
}

.footer-navigation-column a:hover {
  color: #36BFA9;
}

.footer-navigation-column:first-child {
  grid-area: peridona;
}

.footer-navigation-column:nth-child(2) {
  grid-area: resourses;
}

.footer-navigation-column:nth-child(3) {
  grid-area: links;
}

.footer-navigation-column:last-child {
  grid-area: subscription;
}

.footer-navigation-column:first-child p{
  line-height: 27px;

  padding: 0 30px 20px 0;
}

.footer-navigation-column:nth-child(2) li,
.footer-navigation-column:nth-child(3) li{
  padding-bottom: 20px;
}

.footer-navigation-columns h3 {
  padding-bottom: 40px;

  font-family: Rubik, Arial, sans-serif;
  font-weight: 500;
  font-size: 22px;

  color: #fefefe;
}

.footer-navigation-columns p,
.footer-navigation-columns a {
  font-family: Rubik, Arial, sans-serif;
  font-weight: 400;
  font-size: 15px;

  color: #d9d9d9;
}

.contact-links {
  display: flex;
}

.contact-links li {
  padding: 10px;

  width: 14px;
  height: 14px;

  text-align: center;

  border-radius: 50%;

  transition: border, background 0.5s;
}

.contact-links li:hover {
  background-color: #035B6E;

  border-radius: 50%;
}

.footer-form p {
  padding-bottom: 25px;
  margin-bottom: 0px;
}

.footer-form input {
  width: 100%;

  padding: 15px;
  margin-bottom: 20px;

  box-sizing: border-box;

  border: none;
  border-bottom: 1px solid #a3a3a3;

  color: white;
  background-color: transparent;
}

.footer-form button {
  font-family: Rubik, Arial, sans-serif;
  font-weight: 700;
  font-size: 15px;

  color: white;

  background-color: transparent;

  border: none;
}

.footer-form button:hover {
  border: 2px solid white;
  border-radius: 5px;

  cursor: pointer;

  background-color: rgba(255,255,255,0.2)
}

.footer-copyright {
  background-color: #001443;
}

.footer-copyright p {
  margin: 0;
  padding: 30px 0;

  font-family: Rubik, Arial, sans-serif;
  font-weight: 400;

  color: #949494;
  text-align: center;
}
